<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <!-- <p *ngFor="let hero of heros">
    {{hero}}
  </p> -->
  <!-- <div><label for="">id:</label>{{hero.id}}</div>
  <div><label for="">name:</label>{{hero.name}}</div>
  <div>
    <label for="">name:</label>
    <input type="text" [(ngModel)]="hero.name" placeholder="name">
  </div> -->
  <ul>
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
      {{hero.id}} {{hero.name}}
    </li>
  </ul>
  <div *ngIf="isShow">
    <h2>{{selectedHero.name}} details!</h2>
    <label for="">id:</label>
    <p>{{selectedHero.id}}</p>
    <label for="">name:</label>
    <p>{{selectedHero.name}}</p>
    <div>
      <label for="">name:</label>
      <input type="text" [(ngModel)]="selectedHero.name" placeholder="name" />
    </div>
  </div>
</div>
